* {
    margin: 0;
    box-sizing: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

div {
    margin: auto;
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 10px;
    }

    p {
        color: #474747;
        margin-bottom: 10px;
    }

    a {
        color: #0066ff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    hr {
        border: 0;
        height: 1px;
        background-color: #c4c4c4;
        margin-bottom: 10px;
    }

    ul {
        padding: 0 16px;
        
        li {
            margin-bottom: 6px;
        }
    }
}